*{
  box-sizing: border-box;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");


body {
  background: url("../image/books.jpeg");
}

